<!doctype html>
<html>

<head>
</head>

<body style="@import url('https://fonts.googleapis.com/css?family=Hind:600');font-family: 'Hind', sans-serif;text-align:center;color:#fafefe;background-color:#195F8C;padding-top:50px;">
{% for id in ids %}
<h1>{{id}}</h1>
    <div style="height:900px;width:auto;background-color:inherit;" id="{{id}}"></div>
{% endfor %}

</body>



<footer>
<!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

       <script type="text/javascript">
            var graphs = {{graphJSON | safe}};
            var ids = {{ids | safe}};
            for(var i in graphs) {
                Plotly.plot(ids[i], // the ID of the div, created above
                graphs[i].data,
                graphs[i].layout || {});
            }
       </script>
</footer>
</html>
